.card {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 300px;
  border-radius: 10px;
  background: transparent;
  position: relative;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  cursor: pointer;
  box-shadow: 20px -15px 15px rgb(78, 9, 142);
  transition: transform 0.5s, box-shadow 1s, background 1s;
}

.card:hover {
  transform: translate(0, -20px);
  box-shadow: -20px 15px 15px rgb(78, 9, 142);
  background: #1f1f1f;
}

.cardHeader {
  display: flex;
  font-weight: 900;
  justify-content: center;
}

.price {
  padding: 15px;
  text-align: center;
  width: 100px;
  background: transparent;
  color: inherit;
  color: #000;
  transition: background 1s, color 1s;
}

.card:hover .price {
  background: #ffffff;
  color: rgb(78, 9, 142);
}
