.body {
  display: block;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25em;
  height: 25em;
  background: #2f2e2f;
  border-radius: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  animation: lazer 10s forwards;
  padding: 15px;
}

input {
  border-radius: 20px;
  outline: none;
  background: #fff;
  color: #000;
  border: none;
  padding: 10px;

}

h1 {
  margin-bottom: 0;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 10em;
  height: 3em;
  border: none;
  background: #6d14d9;
}

@keyframes lazer {
  100% {
    box-shadow: -5px 5px 50px #fff, 5px -5px 50px #fff, -10px 10px 50px #fff,
      10px -10px 50px #fff;
  }
}
