.body {
  display: block;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30em;
  height: 30em;
  background: #000000;
  border: 5px solid transparent;
  border-radius: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: lazer 1s infinite;
  padding: 15px;
  z-index: 10;
}

input {
  border-radius: 20px;
  outline: none;
  background: #fff;
  color: #000;
  border: none;
  padding: 10px;
}

h1 {
  margin-bottom: 0;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 10em;
  height: 3em;
  border: none;
  background: #6d14d9;
}

@keyframes lazer {
  /* 100% {
    box-shadow: 
    -5px 5px 50px #5900ff, 
    5px -5px 50px #5900ff, 
    -10px 10px 50px #5900ff,
    10px -10px 50px #5900ff;
  } */


  25%{
    border-top: 5px solid #591ba4;

  }
  50%{
    border-right: 5px solid #591ba4;

  }
  75%{
    border-left: 5px solid #591ba4;


  }
  100%{
    border-bottom: 5px solid #591ba4;

  }

}
