.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  flex-direction: column;
  justify-items: space-around;
}

.header {
  font-size: 35px;
  animation: slideIn2 2s;
}

.mainParagraph {
  color: #fff;
  font-size: 65px;
  animation: slideIn 2s;
}

.paragraph {
  color: #b9b3b377;
  font-size: 25px;
}

.span {
  color: #5900ff;
  text-shadow: 2px 7px 10px;
}

.image {
  border-radius: 350px 80px 80px 350px / 140px 140px 140px 140px;
  box-shadow: 5px 5px 10px rgb(78, 9, 142), 5px 10px 10px rgb(78, 9, 142),
    5px -10px 10px rgb(78, 9, 142), -10px 5px 10px rgb(78, 9, 142);
}

.button {
  outline: none;
  border: none;
  padding: 10px;
  font-weight: bold;
  background: #5900ff;
  color: #fff;
  max-width: 300px;
}

.button:hover {
  background: #340788;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideIn2 {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
