.body{
	display: flex;
	background: #000;
	flex-direction: row;
	width: 100% - 1;
	padding: 10px;
	border-top: 1px solid #ffffff36;
	border-bottom: 1px solid #ffffff36;
	justify-content: space-around ;
	justify-items: center ;
	margin-top: 50px;
	margin-left: 0;
}


.header{
	font-size: 20px;
	color: #fff;
}

.image{
	height: 50px;
	width: 50px;
}

.innerBox{
	display: flex;
	flex-direction: row;

}