/* Base styles for the header */
.header {
  display: flex;
  color: #fff;
  justify-content: space-between;
  top: 0;
  width: 100%;
  padding: 10px;
  align-items: center;
  border-bottom: 5px solid #ffffff36;
  background: #000;
  z-index: 10;
  animation: curtainUp 2s forwards;
  position: fixed;
}

.pageName {
  margin-left: 10px;
  font-size: 28px;
}

.links {
  position: relative;
  color: #fff;
  text-decoration: none;
  height: 100%;
}

.list {
  text-align: center;
  min-width: 60px;
  padding: 10px;
}

.ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 55px;
}

.nav {
  display: flex;
  height: 100%;
  width: 700px;
  align-items: center;
}

.contact {
  font-weight: bold;
  color: #fff;
  background: #7707e8;
  padding: 10px;
  min-width: 50px;
}

/* Hover effects */
.links::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(122, 81, 28);
  transition: width 0.5s;
  position: absolute;
  left: 0;
  bottom: 0;
}

.links:hover::after {
  width: 100%;
  background: linear-gradient(to right, rgb(199, 122, 22), rgb(255, 0, 0));
}

.links:hover {
  background: #5811a0;
}

.list:hover {
  background: #5811a0;
}

.contact:hover {
  background: #5811a0;
}

/* Animation */
@keyframes curtainUp {
  from {
    height: 100vh;
  }
  to {
    height: 50px;
  }
}

/* Mobile styles */
@media only screen and (max-width: 390px) {
  .header {
    height: 50px;
  }

  .pageName {
    font-size: 28px;
  }

  .links {
    flex-direction: column;
  }

  .ul {
    flex-direction: column;
    gap: 5px;
  }

  .nav {
    width: 50vw;
    justify-content: space-around;
    border: 1px solid red; /* Note: consider removing this if it's just for debugging */
  }

  .dropdownButton {
    position: absolute;
    outline: none;
    border: none;
    padding: 10px;
    font-weight: bold;
    background: #5900ff;
    color: #fff;
    max-width: 300px;
  }

  /* Mobile animation */
  @keyframes curtainUp {
    from {
      height: 100vh;
    }
    to {
      height: 50px;
    }
  }
}
