.projectBox {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  flex-direction: column;
  justify-items: space-around;
}

.header {
  font-size: 45px;
  margin-left: 30px;
  margin-bottom: 0;
  transform: translateX(100px) rotate(2deg);
  transition: transform 1s;
}

.mainParagraph {
  color: #fff;
  font-size: 35px;
  transform: translateX(100px) rotate(-2deg);
  margin-left: 30px;
  margin-top: 0;
  transition: transform 1s;
}

.span {
  color: #5900ff;
  text-shadow: 2px 7px 10px;
}

.projects {
  display: flex;
  padding: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 400px;
  width: 100%;
  gap: 100px;
  align-items: center;
  border-top: 2px solid #ffffff36;
  border-bottom: 2px solid #ffffff36;
  transform: rotate(-6deg);
  transition: transform 1s;
}

.hr {
  height: 100%;
}

.image {
  height: 350px;
  width: 350px;
  border-radius: 100px 100px 100px 100px;
  border-right: 2px solid #ffffff36;
  box-shadow: 5px 5px 10px rgb(78, 9, 142), 5px 10px 10px rgb(78, 9, 142),
    5px -10px 10px rgb(78, 9, 142), -10px 5px 10px rgb(78, 9, 142);
  transition: height 1s, width 1s;
}

.image:hover {
  height: 400px;
  width: 400px;
}

.button {
  outline: none;
  border: none;
  padding: 10px;
  font-weight: bold;
  background: #5900ff;
  color: #fff;
  min-width: 300px;
  transition: background 0.3s;
}

.button:hover {
  background: #340788;
}
